/*
Aufgabe:	Aufgabe 0
Name:		Alisia Steiner
Matrikel:	254788
Datum:		18.03.2017

Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/


body		{
	background-color:#ffb366;
	color:#800000;
	text-align:center;
	font-size:3em;
	font-family: 'Amatic SC', cursive;}