/*
Aufgabe:    Aufgabe 9
Name:       Alisia Steiner
Matrikel:   254788
Datum:      31.05.2017

Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/


body { font-family: 'Bubbler One', sans-serif;
			color: black;}

#Bestellung {
			width: 40%;
			border: 1px solid purple;
			
}
#Kontakdaten { 
			width: 40%;
			border: 1px solid purple;
			
}
#Versandart { 
			width: 40%;
			border: 1px solid purple;
			
}

/* Ansprache über ID funktioniert nicht bei allen Fieldsets? */

fieldset { 
			width: 40%;
			border: 1px solid purple;
			
}

fieldset > p {
			font-style: bold;
			color: purple;
			
}



