body {
	text-overflow: auto;
	width:1500px;

}

.white {
	
		 background-color = "#ffffff";
            color = "#000000";
           
}

.black {
		background-color = "#000000";
            color = "#ffffff";
}
.selected {
			background-color:red;
}